@if($force_mobile_alignment == "true"){
  .category-header div[class^="category-title-header"] {
    text-align: center;
   }
  .category-header-widget .category-logo.aspect-image, .category-header-widget .category-logo.aspect-image > img {
    float: none;
    max-width: 100%;
    margin: 0 0 0.25em 0;
  }
}
