div[class^="category-title-header"] {
    display: none;
}

.category-header div[class^="category-title-header"] {
  box-sizing: border-box;
  display: block;
  margin-bottom: 20px;
  text-align: $text_align;
  width: 100%;
  justify-content: center;
  overflow: hidden;  
  
  @if $header_style == "box" {
    border: 2px solid $primary_low;
  } @else {
    border: 0 !important; // Stylelint complains if 0px is used
  }
  
  @if $header_background_image == "cover" {
      background-size: cover; 
  } @else if $header_background_image == "contain" {
      background-size: contain;
  } @else if $header_background_image == "resize" {
      background-size: 100% 100%;  
  } @else {
      background-image: none;
  }

  .category-title-contents {
    padding: 20px;

    svg {
      height: 1.5em;
      width: 1.1em;
      margin-right: 0.25em;
    }

  }

  .category-title-name {
      @if $show_category_name == "false" {
        display:none;
      }
      
      a:link, a:visited {
        color: inherit;
      }
      
      h1 {
        display: inline;
      }
  }
  .category-title-description {
    padding-top: 0.5em;

    @if $description_text_size == "smaller" {
       font-size: $font-down-1;
    } @else if $description_text_size == "normal" {
        font-size: $font-0;
    } @else if $description_text_size == "larger" {
        font-size: $font-up-1;
    } @else if $description_text_size == "largest" {
        font-size: $font-up-2;
    }
      
    a,
    a:visited {
        // color: inherit;
    }

    @if $show_category_description == "false" {
        display:none;
    }     
  }

  a.parent-box-link {
      @if $show_parent_category_name == "false" {
        display: none;
      }
  }
}

@if $header_background_image != "outside" {
    body {
        background-image: none !important;
    }
}

// Hide the default Discourse category heading
.category-heading {
    display: none;
}

.category-header-widget svg.d-icon-lock{
     @if $show_lock_icon == "false" {
         display:none;
     }
}

.category-header-widget .category-logo.aspect-image, .category-header-widget .category-logo.aspect-image > img {
    @if $position_logo == "top" {
        float: none;
        max-width: 100%;
        margin: 0 0 0.25em 0;
    } @else if $position_logo == "left" {
        float: $position_logo;
        margin: 0 0.5em 0.25em 0;
    } @else if $position_logo == "right" {
        float: $position_logo;
        margin: 0 0 0.25em 0.5em;
    }

    @if $size_logo == "standard" {
        max-height: 150px;
    } @else if $size_logo == "small" {
        max-height: 50px;
    } @else {
        max-height: 2000px;
    }    
}

.category-header-widget .category-logo.aspect-image > img {
    width: auto;
    height: auto;
    display: inline-block;
}

// Update the category-about-url rules
.category-about-url {
  margin-top: 10px;
  padding: 0 20px 20px; // Add padding to match the rest of the component
  text-align: left;

  @if $description_text_size == "smaller" {
    font-size: $font-down-1;
  } @else if $description_text_size == "normal" {
    font-size: $font-0;
  } @else if $description_text_size == "larger" {
    font-size: $font-up-1;
  } @else if $description_text_size == "largest" {
    font-size: $font-up-2;
  }
}

// Remove the color override to use the default link color
.category-about-url a {
  text-decoration: none;
}
