div[class^="category-title-header"] {
    display: none;
}
    
.category-header div[class^="category-title-header"] {
  box-sizing: border-box;
  display: block;
  margin-bottom: 20px;
  text-align: $align_text;
  width: 100%;
  justify-content: center;
  overflow: hidden;  
  
  @if $header_border_style == "box" {
    border: 2px solid $primary_low;
  } @else {
    border: 0px !important;  
  }
  
  @if ($header_background_color == "theme"){
    background: $primary_very_low;   
  }
  
  @if($header_background_image == "cover"){
      background-size: cover; 
  } @else if ($header_background_image == "contain"){
      background-size: contain;
  } @else if ($header_background_image =="resize"){
      background-size: 100% 100%;  
  } @else {
      background-image: none;
  }
  

     
  .category-title-contents {
    padding: 20px;
    svg {
      height: 1.5em;
      width: 1.1em;
      margin-right: 0.25em;
    }

  }
  .category-title-name {
      @if($show_category_name =="false"){
        display:none;
      }
      a:link, a:visited {
        color: inherit;
      }
      h1 {
        display: inline;
      }      
  }
  .category-title-description {
    padding-top: 0.5em;
    font-size: 1.1em;
    a,
    a:visited {
      color: inherit;
    }
    @if($show_category_description =="false"){
        display:none;
    }    
    
  }
  a.parent-box-link {
      @if ($show_parent_category_name == "false"){
        display: none;
      }
  }
}

@if($header_background_image != "outside"){
    body {
        background-image: none !important;
    }
}


.category-heading {
    display: none;
}

.category-header-widget .category-logo.aspect-image, .category-header-widget .category-logo.aspect-image > img {
    @if($position_logo == "top"){
        float: none;
        max-width: 100%;
    } @else {
        float: $position_logo;
    }
    @if($size_logo == "standard"){
        max-height: 150px;
    } @else if ($size_logo == "small"){
        max-height: 40px;
    } @else {
        max-height: 2000px;
    }    
}

.category-header-widget .category-logo.aspect-image > img {
    width: auto;
    height: auto;       
    display: inline-block;
}
